@import './Common/component';
@import './Common/vari';

body{
  font-family: 'Roboto', sans-serif;
  
}
a {
  text-decoration: none;
}

sup{
  vertical-align: super;
  font-size: smaller;
}

.wrap{
  width: 1140px;
  margin: auto;
  border: 1px solid #ff0000;
  @at-root &-nav{
    width: 95%;
    margin:auto;
  }
}
.title, .sub_title, .s_sub_title, .con_text{
  margin: auto;
}
.title{
  font: {
    size: $title_fs;
    weight: 700;
  }
}
.sub_title{
  font: {
    size:$sub_title_fs;
    weight:700;
  }
}
.s_sub_title{
  font: {
    size:$s_sub_title_fs;
    weight: 700;
  }
}
.con_text{
  font: {
    size: $con_text_fs;
    weight: 300;
  }
  line-height: 1.5;
  margin: auto;
}

.left{
  float: left;
}
.right{
  float: right;
}

.title_wrap{
  &_large{
    @include title_wrap(960px)
  }
  &_small{
    @include title_wrap(720px)
  }
}

// 각 요소별 CSS
#header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #000;
  overflow: hidden;
  a {
    color: #fff;
  }
  z-index: 50;
}
.menu_top {
  position: relative;
  width: 100%;
  border-bottom: 0.5px solid #666;
  box-sizing: border-box;
  height: 55px;
}

.logo{
  font: {
    size: $nav_fs;
    weight: bold;
  }
  @include pos_y(absolute, 50%);
  left:0;
}
h1{
  font: {
    size: $nav_fs;
    weight: bold;
  }
  text-align: center;
  color: #fff;
  @include pos_xy(absolute, 50%, 50%);
}

.hamburger{
  @include pos_y(absolute, 50%);
  right: 0;
  cursor: pointer;
}
//메뉴 클릭시 나타나는 박스
.navBox{
  position:fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 150%;
  height: 150%;
  opacity: 0;
  z-index: -10;
  transition: .5s;
  background: white;
}
.navBoxActive{
  z-index: 9000;
  transition: .5s ease-in;
  opacity: 1;
  width: 100%;
  height: 100%;
}
.navbox-header{
  position: relative;
  height: 150px;
  background: black;
}
.navBoxClose{
  display: inline-block;
  position: absolute;
  right: 30px;
  top: 20px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.navBox-content{
  background: #fff;
}
.navBox-title{
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.line{
  display: block;
  width: 30px;
  height: 2px;
  margin-bottom: 8px;
  background-color: #fff;
  &:last-of-type{
    margin-bottom: 0;
  }
}
.menu_bottom{
  margin: auto;
  padding: 10px 0;
  overflow: hidden;
  text-align: center;
  @include nav_li_st(li_wrap);
  .nav_wrap{
    display: inline-block;
    position: relative;
    // border: 1px solid red;
  }
  .li_wrap{
    display: inline-block;
    li{
      float: left;
      // padding: 5px f20px;
      padding: 5px 0;
      padding-left:10px;
      padding-right: 10px;
    }
    @include clear;
  }
  .bar{
    position: absolute;
    left: 10px;
    bottom: 0;
    display: inline-block;
    // width: (100% / 6);
    height:4px;
    background-color: #00b3e3;
    transition: .3s
  }
}

.section{
  position: relative;
  width: 100%;
}
.main{  
  height: 770px;
  margin-top: 99px;
  background-color: #0093ad;
  overflow: hidden;
  .alpha{
    position: absolute;
    width: 100%;
    bottom: 0;
    img{
      opacity: 0;
    }
  }
}

.typo{
  @include pos_xy(absolute, 35%, 45%);
  .title, .s_sub_title{
    color:#fff;
  }
  .s_sub_title{
    padding-bottom: 20px;
  }
}
.watch{
  width: 50%;
  &.right{
  @include clear;
}
  img{
    opacity: 1;
  }
}
.watch-overview{
  background-color: #000;
  padding-top: 100px;
  .sub_title{
    color:#fff;
    text-align: center;
    padding-bottom: 50px;
  }
  .overview{
    &-video{
      width: 100%;
    }
    &-anistate{
      display: block;
      width: 100%;
    }
  }
}

.watch-design{
  .design{
    display: block;
    width: 100%;
    height: 670px;
    background: {
      image:url('./../Img/Page/galaxy-watch_silver_black_rosegold.jpg');
      
      position: center center;
      repeat: no-repeat;
    }
  }
  .title_wrap_small{
    padding: 
    $titleWr_pd_top 0 $titleWr_pd_bottom;
    .title:first-child{
      &:after{
        display: block;
        width: 50px;
        padding-top: 20px;
        margin: auto;
        border-bottom:5px solid #000;
        content: '';
      }
    }
    .title:nth-child(2){
      padding: $title_pd_top 0 $title_pd_bottom;
    }
  }
}
.watch-concept{
  &-img{
    width: 1200px;
    margin: auto;
    @include clear;
  }
  .whole, .sep{
    width: 50%;
    img{
      display: inline-block;
      width: 100%;
    }
  }
}
.watch-showcase{
  .title_wrap_small{
    padding: 
    $titleWr_pd_top 0 0;
  }
  .con_text{
    padding: $title_pd_bottom 0;
  }
}
.show{
  &_select{
    position: relative;
    width: 80%;
    margin: auto;
    text-align: center;
    .select{
      color:#ddd;
      font: {
        size: 1.3;
        weight: bold;
      }
      margin: 10px 20px;
      border-bottom: 3px solid transparent;
      transition: all .5s ease-in-out;
    }
    .select.on{
      color: #000;
      border-color: #000;
    }
    .select_color{
      display: inline-block;
      .color{
        position: absolute;
        display: none;
        top: 30px;
        margin: auto;
      }
      .color.block{
        display: block;
        border: 1px solid red;
        a{
          width: 50px;
          height: 50px;
          font-size: 10px;
          border-radius: 50%;
        }
      }
    }
  }
}
//시계줄 컬러 클래스
.onyxblack{
  background-color: #000;
  color:#fff;
}
.oceanblue{
  background-color: #152f76;
  color:#fff;
}
.baaltgrey{
  background-color: #505359;
  color:#fff;
}
.cosmopurple{
  background-color: #4d087b;
  color:#fff;
}
.lunargrey{
  background-color: #8f8f8f;
  color:#fff;
}
.terared{
  background-color: #b3150b;
  color:#fff;
}
.limeyellow{
  background-color: #ffd500;
  color:#000;
}
.pinkbeige{
  background-color: #f5dad5;
  color:#000;
}
.cloudgrey{
  background-color: #dbd1cd;
  color:#000;
}
.naturalbrown{
  background-color: #593027;
  color:#fff;
}


// 쥰쨩
.custom_wrap{
  width: 780px;
  margin: auto;
}

.pos_box{
  @include clear;
  text-align: center;
}
.pos_box_title{
  font-size: 52px;
  font-weight: bold;
  margin-bottom: 40px;
}
.pos_box_tx{
  font-size: 18px;
  line-height: 27px;
}
.pos_tx_con{
  margin-bottom: 40px;
}
.pos_tab_con{
  @include clear;
}