@import './Common/component';
@import './Common/vari';

body{
  font-family: 'Roboto', sans-serif;
  
}
a {
  text-decoration: none;
}

.wrap{
  width: 1140px;
  margin: auto;
  border: 1px solid #ff0000;
  @at-root &-nav{
    width: 95%;
    margin:auto;
  }
}
.title, .sub_title, .s_sub_title, .con_text{
  margin: auto;
}
.title{
  font: {
    size: $title_fs;
    weight: 700;
  }
}
.sub_title{
  font: {
    size:$sub_title_fs;
    weight:700;
  }
}
.s_sub_title{
  font: {
    size:$s_sub_title_fs;
    weight: 700;
  }
}
.con_text{
  font: {
    size: $con_text_fs;
    weight: 300;
  }
}

.left{
  float: left;
}
.right{
  float: right;
}
// 각 요소별 CSS
#header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #000;
  overflow: hidden;
  a {
    color: #fff;
  }
  z-index: 50;
}
.menu_top {
  position: relative;
  width: 100%;
  border-bottom: 0.5px solid #666;
  box-sizing: border-box;
  height: 55px;
}

.logo{
  font: {
    size: $nav_fs;
    weight: bold;
  }
  @include pos_y(absolute, 50%);
  left:0;
}
h1{
  font: {
    size: $nav_fs;
    weight: bold;
  }
  text-align: center;
  color: #fff;
  @include pos_xy(absolute, 50%, 50%);
}

.hamburger{
  @include pos_y(absolute, 50%);
  right: 0;
  
}
.line{
  display: block;
  width: 30px;
  height: 2px;
  margin-bottom: 8px;
  background-color: #fff;
  &:last-of-type{
    margin-bottom: 0;
  }
}
.menu_bottom{
  margin: auto;
  padding: 10px 0;
  overflow: hidden;
  text-align: center;
  @include nav_li_st(li_wrap);
  .nav_wrap{
    display: inline-block;
    position: relative;
  }
  .li_wrap{
    display: inline-block;
    li{
      float: left;
      padding: 5px 20px;
    }
    @include clear;
  }
  .bar{
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-block;
    width: (100% / 6);
    height:4px;
    background-color: #00b3e3;
    transition: .3s
  }
}

.section{
  position: relative;
  width: 100%;
}
.main{  
  height: 770px;
  margin-top: 99px;
  background-color: #0093ad;
  overflow: hidden;
  .alpha{
    position: absolute;
    width: 100%;
    bottom: 0;
    img{
      opacity: 0;
    }
  }
}

.typo{
  @include pos_xy(absolute, 35%, 45%);
  .title, .s_sub_title{
    color:#fff;
  }
  .s_sub_title{
    padding-bottom: 20px;
  }
}
.watch{
  width: 50%;
  &.right{
  @include clear;
}
  img{
    opacity: 1;
  }
}
.watch-overview{
  background-color: #000;
  padding-top: 100px;
  .sub_title{
    color:#fff;
    text-align: center;
    padding-bottom: 50px;
  }
  .overview{
    &-video{
      width: 100%;
    }
    &-anistate{
      display: block;
      width: 100%;
    }
  }
}

.watch-design{
  sup{
    vertical-align: super;
    font-size: smaller;
  }
  .design img{
    display: block;
    width: 100%;
  }
  .title_wrap{
    display: block;
    margin: auto;
    padding: 200px 0 100px;
    text-align:center;
    .title:first-child{
      &:after{
        display: block;
        width: 50px;
        padding-top: 20px;
        margin: auto;
        border-bottom:5px solid #000;
        content: '';
      }
    }
    .title:nth-child(2){
      width: 60%;
      padding: 150px 0 50px;
    }
    .con_text{
      width: 55%;
      margin: auto;
      line-height: 1.3;
    }
  }
}