$nav_fs:1.3rem;
$nav_sub_fs: 0.8rem;
$main_cr: #ddd;
$sub_cr: #666;

$title_fs:4rem;
$sub_title_fs: 1.8rem;
$s_sub_title_fs: 1.5rem;
$con_text_fs: 1.1rem;

$titleWr_pd_top: 200px;
$titleWr_pd_bottom: 100px;
$title_pd_top: 150px;
$title_pd_bottom:50px;